.CardItem {
  flex-shrink: 0;
  position: relative;
  display: flex;
  flex-flow: column;
  margin-bottom: 2rem;
  background: rgba(0, 0, 0, 0);
  border-radius: 4px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.CardItem:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.CardItem .CardItemImage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.CardItem .CardItemContext {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  padding: 1rem;
}