.qtopAiHeader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background: white;
  border-bottom: 1px solid #cecece;
  box-sizing: border-box;
}

.qtopAiHeaderTitle {
  position: relative;
  font-size: 18px;
  font-weight: 500;
}

.qtopAiChat {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 50px - 150px);
  padding: 16px 32px 16px 16px;
  background: white;
  box-sizing: border-box;
  overflow: auto;
}

.qtopAiChatDate{
  font-size: 12px;
  color: #999;
}

.qtopAiChatBar {
  position: relative;
  display: flex;
  flex-flow: column;
  gap: 8px;
  width: 100%;
  height: 150px;
  padding: 16px;
  background: #f5f5f5;
  border-top: 1px solid #cecece;
  box-sizing: border-box;
}

.qtopAiChatBarButtons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
}