.PriceCard {
  position: relative;
  width: 30%;
  margin-bottom: 2rem;
}

.PriceCard .Card {
  position: relative;
  display: flex;
  flex-flow: column;
  padding: 1.5rem;
  margin: 1rem 0;
  background: #1A1B1C;
  border-radius: 0.5rem;
}

.PriceCard .List {
  position: relative;
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
}

.PriceCard .ListItem {
  position: relative;
  display: flex;
  gap: 0.5rem;
  padding: 0 1rem;
}

.MobilePriceCard {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}

.MobilePriceCard .Card {
  position: relative;
  display: flex;
  flex-flow: column;
  padding: 1rem;
  margin: 0.5rem 0;
  background: #1A1B1C;
  border-radius: 0.5rem;
}

.MobilePriceCard .List {
  position: relative;
  display: flex;
  flex-flow: column;
  gap: 0.25rem;
}

.MobilePriceCard .ListItem {
  position: relative;
  display: flex;
  gap: 0.25rem;
  padding: 0 0.5rem;
}