.NodeLogBox {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 300px;
  min-height: 300px;
  padding: 16px;
  box-sizing: border-box;
}

.logBox {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.logItem {
  position: relative;
  display: flex;
  width: 100%;
}

.logItem:hover {
  background-color: #f5f5f5;
}

.logItemTag {
  flex-shrink: 0;
  position: relative;
  display: flex;
  justify-content: right;
  align-items: flex-start;
  width: 120px;
  padding: 4px 0;
  border-right: 1px solid #d8d8d8;
}

.logItemContent {
  position: relative;
  display: flex;
  width: 100%;
  padding: 0 8px;
}

.logItemContentTime {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 140px;
  font-size: 12px;
  color: #999;
  line-height: 28px;
}