.ArticleItem{
  position: relative;
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 10%;
}

.ArticleItem .titleBox{
  position: relative;
  display: flex;
  flex-flow: column;
  gap: 1rem;
  width: 40%;
}

.ArticleItem .contentBox{
  position: relative;
  display: flex;
  flex-flow: column;
  width: 50%;
  height: 100%;
  color: white;
  letter-spacing: 0.1rem;
  line-height: 2rem;
}


.MobileArticleItem {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.MobileArticleItem .titleBox {
  position: relative;
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  width: 100%;
}

.MobileArticleItem .contentBox {
  position: relative;
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  color: rgb(177, 177, 177);
  letter-spacing: 0.05rem;
  font-size: 0.8rem;
  line-height: 1.5rem;
}