.ArticleItem{
  position: relative;
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 10%;
}

.ArticleItem .titleBox{
  position: relative;
  display: flex;
  flex-flow: column;
  gap: 1rem;
  width: 40%;
}

.ArticleItem .contentBox{
  position: relative;
  display: flex;
  flex-flow: column;
  width: 50%;
  height: 100%;
  color: white;
  letter-spacing: 0.1rem;
  line-height: 2rem;
}