.chatItem {
  position: relative;
  display: flex;
  margin: 8px 0;
}

.chatItemContent{
  position: relative;
  max-width: 80%;
  padding: 12px;
  background: white;
  /* border: 1px solid #d4d4d4; */
  border-radius: 4px;
  font-size: 16px;
}