.HandleArticle {
  position: relative;
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 100%;
}

.HandleArticle .editArea {
  position: relative;
  display: flex;
  flex-flow: column;
  width: calc(50% - 32px);
  height: calc(100% - 32px);
  margin: 16px;
  padding: 16px;
  background: white;
  box-sizing: border-box;
  border-radius: 8px;
}

.HandleArticle .previewArea {
  position: relative;
  display: flex;
  flex-flow: column;
  width: 50%;
  height: 100%;
  padding: 16px;
  border-left: 1px solid #b9b9b9;
  background: #F0F2F5;
  box-sizing: border-box;
}

.HandleArticle .quillBox {
  position: relative;
  flex: 1;
  /* overflow: auto; */
}

.HandleArticle .previewTitle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: calc(50% - 2.5rem);
  left: calc(50% - 10rem);
  width: 20rem;
  height: 5rem;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: rgba(0, 0, 0, 0.1);
}